<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] %-5p %c{1} - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Your app logs at INFO -->
        <Logger name="com.npc.kafka" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Suppress noisy Kafka internals -->
        <Logger name="org.apache.kafka" level="WARN"/>
        <Logger name="org.apache.kafka.clients" level="WARN"/>
        <Logger name="org.apache.kafka.streams" level="WARN"/>

        <!-- Root logger -->
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
